.error-404 {
	padding-top: 180px;

	nav {
		ul {
			margin-top: 60px;
			padding-bottom: 100px;
			list-style-type: none;
			margin-left: -20px;

			li {
				display: inline-block;
				margin-left: 20px;
				@include font-size(1.5);

				a {
					text-decoration: none;
					color: $color__text-main;

					&:visited {
						color: $color__text-main
					}
				}
			}

			.nav-donate {
				display: none;
			}
		}
	}
}