.site-footer {
	@include font-size(.9);
	background-color: $color__bg-footer;
	padding: {
		top: 60px;
		bottom: 60px;
	}

	.footer-logo {
		@include font-size(3);
		font-family: $font__heading;
		margin-top: 9px;
	}

	p {
		margin: 0;
		@include font-size(1);
		color: $color__text-footer;
	}

	.inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		> div {
			width: 480px;

			@media screen and (max-width: 1000px) {
				width: 100%;
				text-align: center;
			}	
		}
	}

	.site-info-right {
		text-align: right;
	}

	.site-info-left {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		p:first-child {
			margin-right: 20px;

			@media screen and (max-width: 500px) {
				
				margin-right: 0;
			}
		}

		p:last-child {
			width: 300px;

			@media screen and (max-width: 500px) {
				width: 100%;
			}
		}

		@media screen and (max-width: 1000px) {
			justify-content: center;
			margin-bottom: 40px;
		}
	}
}