.about {
	padding: {
		top: 100px;
		bottom: 100px;
	}
	display: flex;
	margin-right: -20px;

	> div {
		width: 25%;
		margin-right: 20px;

		> img {
			box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
		}

		h2 {
			@include font-size(3.8);
			margin-bottom: 20px;
		}
	}

	.brush-bg:after {
		background: url("images/eati-brush_2x.png") no-repeat;
		background-size: contain;
	    left: -11px;
	    top: -21px;
	    width: 270px;
	}

	@media screen and (max-width: 1140px) {
		flex-wrap: wrap;
		justify-content: center;

		> div:first-child {
			width: 100%;
			text-align: center;
			padding-bottom: 40px;

			h2 {
				display: inline-block;
			}

			p {
				max-width: 650px;
				margin: {
					left: auto;
					right: auto;
				}
			}
		}

		.brush-bg:after {
			left: -33px;
		}
	}

	@media screen and (max-width: 650px) {
		> div {
			width: 29%;
		}
	}

	@media screen and (max-width: 500px) {
		> div:nth-child(2) {
			display: none;
		}

		> div {
			width: 43%;
		}
	}
}

.donate-message-banner {
	background: url("images/donate-message-banner.jpg") center bottom / cover no-repeat;
	position: relative;
	height: 440px;

	.inner {
		padding: {
			top: 60px;
			bottom: 60px;
		}
	}

	p {
		font-family: $font__display;
		color: $color__text-secondary;
		@include font-size(1.5);
	}

	.bottom-line {
		position: absolute;
		bottom: 40px;
		right: 20px;
		padding-left: 20px;
		text-align: right;
	}
}

.sponsor-message {
	padding: {
		top: 100px;
		bottom: 100px;
	}
	display: flex;
	justify-content: space-between;
	align-items: center;

	> div {
		width: 47%;

		> img {
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		}
	}

	.our-sponsors {
		margin-top: 40px;
	}

	.sponsor-logos {
		display: flex;
		align-items: center;

		> div {
			margin: {
				right: 30px;
				top: 10px;
			}
		}
	}

	.brush-bg {
		margin-bottom: 20px;
	}

	.brush-bg:after {
		background: url("images/sponsor-message-brush_2x.png") no-repeat;
		background-size: contain;
	    left: -3px;
	    top: 8px;
	    width: 500px;
	}

	.vital-strategies-logo {
		width: 170px;
	}

	.swiss-lung-logo {
		width: 80px;
	}

	.chest-foundation-logo {
		width: 55px;
	}

	@media screen and (max-width: 950px) {
		> div:first-child {
			display: none;
		}

		> div {
			width: 100%;
			text-align: center;
		}

		.sponsor-logos {
			justify-content: center;
		}

		.brush-bg {
			max-width: 500px;
			margin: {
				left: auto;
				right: auto;
			}
		}

		.brush-bg:after {
			top: 0;
			left: 60px;
			width: 400px;
		}
	}

	@media screen and (max-width: 700px) {
		.brush-bg {
			max-width: 300px;
		}

		.brush-bg:after {
			width: 300px;
			left: 0;
		}
	}
}