.front-page-main .hero {
	// Non-retina screens
	background: url("images/home-banner.jpg") center bottom / cover no-repeat;
}

.our-work-main .hero {
	background: url("images/our-work-banner.jpg") center bottom / cover no-repeat;
}

.success-main .hero {
	background: url("images/success-banner.jpg") center bottom / cover no-repeat;
}

.hero {
	height: 700px;

	.inner {
		padding-top: 70px;
	}

	.content h1 {
		font-family: $font__site-title;
		color: $color__heading-secondary;
		padding-top: 100px;
	}

	.content p {
		@include font-size(1.3);
	}

	// Front page specific styles
	.content-home {
		text-align: center;
		max-width: 600px;
		margin: 0 auto;
		padding-top: 50px;

		h1 {
			color: $color__text-main;
		}
	}
}
