.hero {
	height: 700px;
	position: relative;

	> img {
		object-fit: cover;
		height: 100%;
	}

	.inner {
		padding-top: 90px;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		top: 0;
		left: 0;
		right: 0;
	}

	.content h1 {
		font-family: $font__site-title;
	}

	.content p {
		@include font-size(1.3);
	}

	// Front page specific styles
	.content-home {
		text-align: center;
		max-width: 600px;
		margin: 0 auto;
		padding-top: 80px;
	}
}
