#masthead {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(234,234,234,0.9);

	.inner {
		padding: {
			top: 20px;
			bottom: 20px;
		}
		// Important for absolute positioned navigation inside #masthead
		position: relative;
		// Transition for shrinking navigation on scroll
		transition: padding .5s;
	}
}

.site-branding {
	display: inline-block;
}

.custom-logo {
	width: 250px;
	vertical-align: middle;
	// Transition for shrinking navigation on scroll
	transition: width .5s;
}

// Shrink masthead upon scroll styles
.nav-shrink {
	.inner {
		padding: {
			top: 10px!important;
			bottom: 10px!important;
		}
		transition: padding .5s;
	}

	.custom-logo {
		width: 180px;
		transition: width .5s;
	}

	.main-navigation {
		padding: 7px 0;
		transition: padding .5s;
	}
}