p {
	margin-bottom: 1.5em;
    @include font-size(1.1);
    /* equivalent to 16px */
    line-height: 1.25;
    /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  p {
    @include font-size(1.1);
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}