body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 100%;
	line-height: $font__line-height-body;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
 	 font-size-adjust: 0.5;
}

@import "headings";

@import "copy";