@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 100%;
	line-height: $font__line-height-body;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

@import "headings";

@import "copy";