@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

.wf-loading {
	visibility: hidden;
}

html {
	font-size: 16px;
}

body {
	color: $color__text-main;
	font-family: $font__main;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: {
		top: 0;
		bottom: 20px;
	}
}

@import "headings";

@import "copy";