html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__bg-body; /* Fallback for when there is no custom background color defined. */
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

ul,
ol {
	margin: 0;
	padding: 0;
}

// Header background brush styles
.brush-bg {
  position: relative;
}

.brush-bg:after {
  content: "";
  position: absolute;
  z-index: -20;
  height: 100px;
}

@import "tables";