$color__text-main: #292929;
$color__text-secondary: #EEEEEE;

$color__heading-main: #292929;
$color__heading-secondary: #EEEEEE;

$color__link-main: #292929;
$color__link-secondary: #EEEEEE;

$color__nav-main: #292929;
$color__nav-secondary: #EEEEEE;

$color__donate-button-main: #EEEEEE;
$color__donate-button-secondary: #292929;
$color__donate-button-bg-main: #292929;
$color__donate-button-bg-secondary: #EEEEEE;

$color__bg-body: #FFFFFF;
$color__bg-main: #EEEEEE;
$color__bg-secondary: #292929;

$color__button-text: #EEEEEE;
$color__button-bg: #292929;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;