$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;








$color__text-main: #292929;
$color__text-nav: #292929;
$color__text-heading-inverted: #EEEEEE;
$color__text-mobile-nav: #EEEEEE;
$color__text-donate-button: #EEEEEE;
$color__text-donate-button-inverted: #292929;
$color__text-link-button: #EEEEEE;
$color__text-donate-message: #EEEEEE;
$color__text-footer: #EEEEEE;
$color__text-aside-inverted: #EEEEEE;

$color__bg-donate-button: #292929;
$color__bg-donate-button-inverted: #EEEEEE;
$color__bg-link-button: #292929;
$color__bg-footer: #292929;
$color__bg-aside: #292929;
