$font__main: "freight-sans-pro",sans-serif;
$font__heading: 'Josefin Slab', serif;
$font__link-button: 'Josefin Slab', serif;
$font__site-title: "freight-display-pro",sans-serif;
$font__nav: "chaparral-pro",sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;