$font__main: "freight-sans-pro",sans-serif;
$font__heading: 'Josefin Slab', serif;

$font__site-title: "freight-display-pro",sans-serif;
$font__display: "freight-display-pro",sans-serif;

$font__nav: "chaparral-pro",sans-serif;
$font__link-button: 'Josefin Slab', serif;
$font__aside: "freight-sans-pro",sans-serif;