.main-navigation {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	font-family: $font__nav;
	@include font-size(1.4);
	// Transition for shrinking navigation on scroll
	transition: padding .5s;

	li {
		display: inline-block;
		margin-right: 20px;
		position: relative;
	}

	a {
		text-decoration: none;
		color: $color__text-nav;
	}

	.current_page_item > a:after,
	.current-menu-item > a:after,
	.current_page_ancestor > a:after,
	.current-menu-ancestor > a:after {
		content: "";
		position: absolute;
		z-index: 10;
		left: 0;
		right: 100%;
		bottom: 0;
		background: $color__text-nav;
		height: 2px;
		width: 100%;
	}
}

/*** Donate Button ***/
.nav-donate {
	background-color: $color__bg-donate-button;
	padding: 9px 10px 5px 10px;
 	
 	a {
 		color: $color__text-donate-button;
 		font-family: $font__heading;
 	}
}

/*** Mobile Menu.\ ***/
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}