.main-navigation,
.mobile-navigation {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-family: $font__nav;
	@include font-size(1.4);
	// Transition for shrinking navigation on scroll
	transition: padding .5s;

	li {
		display: inline-block;
		position: relative;
	}

	li:not(:last-child) {
		margin-right: 20px;
	}

	a {
		text-decoration: none;
		color: $color__link-main;
	}

	.current_page_item > a:after,
	.current-menu-item > a:after,
	.current_page_ancestor > a:after,
	.current-menu-ancestor > a:after {
		content: "";
		position: absolute;
		z-index: 10;
		left: 0;
		right: 100%;
		bottom: 0;
		background: $color__link-main;
		height: 2px;
		width: 100%;
	}
}

//	Tabbed navigation on Our Work page
.tabbed-navigation {
	background: #EEEEEE;
	text-align: right;
	position: absolute;
	top: 0;
	left: 0;
	padding: {
		left: 20px;
		top: 100px;
		right: 40px;
	}
	width: 20%;
	height: 100%;

	ul {
		list-style-type: none;
		font-family: $font__heading;
		@include font-size(1.8);

		li {
			padding: 10px 0;
			cursor: pointer;
		}

		li:first-child {
			padding-top: 0;
		}
	}

	@media screen and (max-width: 1100px) {
		text-align: left;
	}

	@media screen and (max-width: 930px) {
		display: none;
	}
}

.tabbed-navigation li .active:after {
	content: "";
	position: absolute;
	z-index: 10;
	left: 0;
	right: 100%;
	bottom: 0;
	background: $color__text-main;
	height: 2px;
	width: 100%;	
}

/*** Donate Button ***/
.nav-donate a,
.mobile-donate-container a {
	background-color: $color__donate-button-bg-main;
	padding: 9px 10px 5px 10px;
 	color: $color__donate-button-main;
 	font-family: $font__heading;
}

/*** Mobile Menu.\ ***/
.mobile-donate-container .nav-donate,
.menu-toggle-open {
	display: none;
}

.mobile-navigation {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	transform: none;
	padding: 100px 20px 20px 20px;
	width: 100%;
	height: 100%;
	background-color: rgba(51,51,51,0.8);
	z-index: 50;
    transition: visibility 0s linear 300ms, opacity 300ms;
    opacity: 0;

	a {
		color: $color__nav-secondary;
	}

	ul {
		margin-top: 50px;
	}

	li {
		display: block;
		margin-right: 0!important;
		margin-bottom: 10px;
		text-align: right;
		@include font-size(2);
	}

	/*** Mobile Menu Donate Button ***/
	.nav-donate a {
		background-color: $color__donate-button-bg-secondary;
		padding: 9px 10px 5px 10px;
	 	color: $color__donate-button-secondary;
	 	font-family: $font__heading;
	}

	.menu-toggle-close {
		float: right;
		cursor: pointer;
		border: none;
		background-color: rgba(234,234,234,0);
		position: relative;
		width: 30px;
		height: 30px;

		> div {
			background-color: #EEEEEE;
			width: 24px;
			height: 4px;
			margin: 4px 0;
		    position: absolute;
		    top: 8px;
		   	right: 3px;
		}

		// Mobile menu close icon
		> div:first-child {
			    transform: rotate(45deg);
		}

		> div:last-child {
			    transform: rotate(-45deg);
		}
	}
}

// Toggle mobile menu visibility opacity animation
.visible {
	visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}


@media screen and (max-width: 880px) {
	.menu-toggle-open {
		display: block;
		cursor: pointer;
		border: none;
		background-color: rgba(234,234,234,0);

		> div {
			width: 24px;
			height: 4px;
			background-color: #292929;
			margin: 4px 0;
		}
	}

	.main-navigation ul {
		display: none;
	}

	.mobile-donate-container {
	display: flex;

		.nav-donate {
			margin-right: 20px;
			display: block;
		}
	}
}

@media screen and (max-width: 500px) {
	.mobile-donate-container .nav-donate {
		display: none;
	}
}