.main-navigation {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	font-family: $font__nav;
	@include font-size(1.4);
	// Transition for shrinking navigation on scroll
	transition: padding .5s;

	li {
		display: inline-block;
		margin-right: 20px;
		position: relative;
	}

	a {
		text-decoration: none;
		color: $color__text-nav;
	}

	.current_page_item > a:after,
	.current-menu-item > a:after,
	.current_page_ancestor > a:after,
	.current-menu-ancestor > a:after {
		content: "";
		position: absolute;
		z-index: 10;
		left: 0;
		right: 100%;
		bottom: 0;
		background: $color__text-nav;
		height: 2px;
		width: 100%;
	}
}

/*** Donate Button ***/
.nav-donate {
	background-color: $color__bg-donate-button;
	padding: 9px 10px 5px 10px;
 	
 	a {
 		color: $color__text-donate-button;
 		font-family: $font__heading;
 	}
}

/*** Mobile Menu.\ ***/
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* Underline from left animation */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: $color__text-nav;
  height: 2px;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

// Bounce animation for donate button
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}